<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- mongodb 配置 -->
    <bean id="mongoFactory" class="commons.db.MongoFactory">
        <property name="host" value="${mongodb.host}"></property>
        <property name="port" value="${mongodb.port}"></property>
        <property name="dbName" value="${mongodb.database}"></property>
        <property name="mapPackage" value="guizi"></property>
    </bean>

    <!-- more bean definitions go here -->

</beans>